meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Términos asociados al sistema de gestión ambiental
meta(meta name="description" content="La NTC ISO 14001:2015 está orientada a contribuir desde la gestión ambiental al desarrollo sostenible bajo un enfoque sistémico de equilibrio de sus tres pilares fundamentales de sostenibilidad “Ambiental, social y económico”.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")
