h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201089-1. Interpretar la estructura de la NTC ISO 14001 2015, según enfoque por procesos y ciclo PHVA. 