

.container
    .header-ecored
        h1 1. Componentes del medio ambiente
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        p.mt-5 Medio ambiente: Es la interrelación de los medios naturales y socio económicos, comprendido por sistemas y componentes ambientales. De acuerdo a la NTC ISO 14001:2015, medio ambiente es el entorno en el cual una organización opera, incluidos el aire, el agua, el suelo, los recursos naturales, la flora, la fauna, los seres humanos y sus interrelaciones (NTC-ISO 14001:2015).
        
        .sub-ecored.mt-5
            h2 Componentes del medio ambiente 

        .row.my-5
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') Medio ambiente:
                    a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') Medio Natural
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false') Medio Social

            .col-9
                #v-pills-tabContent.tab-content
                    #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
                        .row.justify-content-center.align-items-center
                            .col-12.col-md-6
                                p Es la interrelación de los medios naturales y socio económicos, comprendido por sistemas y componentes ambientales. De acuerdo a la NTC ISO 14001:2015, medio ambiente es el entorno en el cual una organización opera, incluidos el aire, el agua, el suelo, los recursos naturales, la flora, la fauna, los seres humanos y sus interrelaciones (NTC-ISO 14001:2015).
                                img.my-2.mxw.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
                            .col-12.col-md-6
                                img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid

                    #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                        .row.justify-content-center.align-items-center
                            .col-12.col-md-6
                                p El medio natural está comprendido por todos los elementos abióticos o físicos que condicionan la vida, estos elementos abióticos o factores ambientales pueden o no cambiar dependiendo del mismo medio natural o del medio social ocasionando impactos ambientales, por ejemplo, la emisión de sulfuro de hidrógeno y amoniaco causado por la disposición de residuos peligrosos puede lograr alterar la calidad del aire generando olores ofensivos y la presencia de ruido generado por el tráfico vehicular puede superar los niveles permisibles de ruido logrando la contaminación auditiva.

                            .col-12.col-md-6
                                img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid
                    #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                        p Es medio antrópico ocasionado por el hombre, comprendido por los componentes demográfico, económico, cultural y políticos, los factores ambientales definidos en estos componentes pueden referirse a la salud, natalidad, formas de organización existente, formas de tenencia de tierra, estructura familiar, etc.

                        img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid


        .hr-ecored
        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Problemáticas ambientales globales
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Tipos de contaminación

                
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                    p La contaminación del medio ambiente en sus diversas modalidades y la deforestación están presentando conflictos de carácter global, como los que se enumeran a continuación: (Forero, 1996)
                    img.img-a.mt-2(src="assets/images/pages/ilustraciones/img6.svg").img-fluid


                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    p Cuando el aprendiz se acerca a la comprensión de medio ambiente y la interrelación de sus componentes, es pertinente que reconozca los factores o elementos que influyen en el mismo, ocasionando cambios adversos como la contaminación ambiental que llevan a organizaciones a establecer, implementar, mantener y mejorar continuamente un sistema de gestión ambiental.

                    p De acuerdo con el decreto 2811 del 1974 los factores ambientales o elementos que influyen en el medio ambiente son: 
                    
                    .row.mt-5
                        .col-12.col-md-6
                            .list
                                .list__item
                                    .list__item__number
                                        span 1
                                .list__txt    
                                    p Los residuos, basuras, desechos y desperdicios.
                                
                            .list
                                .list__item
                                    .list__item__number
                                        span 2
                                .list__txt    
                                    p El ruido.

                            .list
                                .list__item
                                    .list__item__number
                                        span 3
                                .list__txt    
                                    p Las condiciones de vida resultantes de asentamiento humano urbano o rural. 

                            .list
                                .list__item
                                    .list__item__number
                                        span 4
                                .list__txt    
                                    p Los bienes producidos por el hombre, o cuya producción sea inducida o cultivada por él, en cuanto incidan o puedan incidir sensiblemente en el deterioro ambiental.
                                
                        .col-12.col-md-6
                            img.img-a.mxw.mt-2(src="assets/images/pages/ilustraciones/img7.png").img-fluid  
                    .header-arrow.py-4.my-5
                        h3.text-center Algunos de los cambios adversos o tipos de contaminación ocasionados por la presencia de factores ambientales son: 
                    img.img-a.mt-2(src="assets/images/pages/ilustraciones/img8.svg").img-fluid 

        .sub-ecored.mt-5
            h2 Desarrollo sostenible
        p La NTC ISO 14000 tiene un enfoque sistémico, el enfoque sistemático a la gestión ambiental puede proporcionar información a la alta dirección para generar éxito a largo plazo y crear opciones para contribuir al desarrollo sostenible. (NTC-ISO 14001:2015)

        p El desarrollo sostenible se ha definido como el desarrollo capaz de satisfacer las necesidades del presente sin comprometer la capacidad de las futuras generaciones para satisfacer sus propias necesidades (ONU 2015)

        p Y para alcanzar el desarrollo sostenible debe existir equilibrio de sus tres pilares: Ambiental, social y económico, respondiendo a la definición de desarrollo sostenible. 

        p A continuación, se presenta la interrelación de los tres pilares fundamentales del desarrollo sostenible.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img9.svg").img-fluid 

        p Desde la adquisición de la materia prima a partir de los recursos naturales.

        p El agotamiento de los recursos naturales es un determinante al desequilibrio de la sostenibilidad.

        .sub-ecored.mt-5
            h2 Objetivos de desarrollo sostenible (ODS)        
        p En 2015, la ONU aprobó la Agenda 2030 sobre el Desarrollo Sostenible, una oportunidad para que los países y sus sociedades emprendan un nuevo camino para mejorar la vida de todos, sin dejar a nadie atrás. La Agenda cuenta con 17 Objetivos de Desarrollo Sostenible, que incluyen desde la eliminación de la pobreza hasta el combate al cambio climático, la educación, la igualdad de la mujer, la defensa del medio ambiente o el diseño de nuestras ciudades.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img10.svg").img-fluid 
        .jumbotron.py-3.px-3
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img11.svg").img-fluid
                .col-12.col-md-6
                    section
                        a(href="https://www.un.org/sustainabledevelopment/es/sustainable-development-goals/" target="_blank").media-link      

                            img(src="assets/images/pages/ilustraciones/www.svg", alt="").media-link-icon

                            .media-link-title.ml-4
                                p Da un vistazo a los Objetivos y metas de desarrollo sostenible
                                

                                        