.container
    .header-ecored
        h1 2. Generalidades ISO 14000. Antecedentes, familia de las ISO 14000
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid
        
        .sub-ecored.mt-5
            h2 Estructura de alto nivel: enfoque y terminología común.
        p La norma internacional ISO 14001:2015 se genera conforme a los requisitos de ISO para normas de sistemas de gestión. Estos requisitos incluyen una estructura de alto nivel, texto esencial idéntico y términos comunes con definiciones esenciales, diseñadas para beneficiar a los usuarios en la implementación de múltiples normas ISO de sistemas de gestión (NTC-ISO 14001:2015).
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img13.svg").img-fluid

        .sub-ecored.mt-5
            h2 Modelo PHVA: Planificar-Hacer-Verificar-Actuar
        p En la siguiente figura se presenta la relación entre el modelo PHVA y los siete (7) requisitos de la NTC ISO 14001:2015.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.svg").img-fluid

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4.color-1.mr-5
                h3.text-center ¿Qué es Planificar? 
                p.mb-0.mt-2 Establecer los objetivos necesarios para generar y proporcionar resultados de acuerdo con la política de la organización.
            .col-12.col-md-4.color-2
                h3.text-center ¿Qué es Verificar? 
                p.mb-0.mt-2 Hacer el seguimiento y medir los procesos respecto a la políta ambiental, incluidos sus compromisos, objetivos ambientales y criterios operacionales, e informar de sus resultados.
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4.color-3.mr-5
                h3.text-center ¿Qué es Hacer? 
                p.mb-0.mt-2 Implementar los procesos según lo planificado.
            .col-12.col-md-4.color-4
                h3.text-center ¿Qué es Actuar?
                p.mb-0.mt-2 Emprender acciones para mejorar continuamente.

        .sub-ecored.mt-5
            h2 Pensamiento basado en riesgo: riesgos asociados a las actividades de la empresa.                     
        p Uno de los cambios importantes a considerar en la norma ISO 14001 versión 2015 es la gestión de riesgo, llevando a la organización a reconocer los riesgos para: 

        .list.ml-3
            .list__item
                .list__item__icon
                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon.svg").img-fluid  
            .list__txt    
                p Asegurar que el sistema de gestión ambiental pueda lograr sus resultados previstos.

        .list.mt-2.ml-3
            .list__item
                .list__item__icon
                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon.svg").img-fluid  
            .list__txt    
                p Prevenir o reducir los efectos no deseados, incluida la posibilidad de que condiciones ambientales externas afecten a la organización.

        .list.mt-2.ml-3
            .list__item
                .list__item__icon
                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon.svg").img-fluid  
            .list__txt    
                p Lograr la mejora continua.
        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img15.svg").img-fluid

        .sub-ecored.mt-5
            h2 Ciclo de vida del producto y servicio               
        p Según la norma técnica colombiana ISO 14001 2015, el ciclo de vida de un producto y servicio son las etapas consecutivas e interrelacionadas de un sistema de producto o de servicio, desde la adquisición de la materia prima o su generación a partir de los recursos naturales, hasta la disposición final (NTC-ISO 14001:2015).
        p A continuación se indican las etapas del ciclo de vida:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img16.svg").img-fluid
        p Según los especialistas, el análisis del ciclo de vida ACV es una herramienta importante en la obtención de informaciones detalladas para el proceso de toma de decisiones en ingeniería. Así, si existe la oportunidad de escoger entre una gama de materiales y procesos de obtención y manufactura, las decisiones solamente pueden ser consideradas coherentes si fuesen tomadas con base en el análisis crítico, en particular al histórico de los materiales a ser empleados en la producción industrial (Guevara, 2006).

        .sub-ecored.mt-5
            h2 Enfoque basado en procesos flujogramas. Entradas, salidas y procesos. 

        p Teniendo como referencia la NTC ISO 9000:2015, consideramos el enfoque basado en procesos.

        p De acuerdo con la NTC ISO 14001:2015, #[strong proceso] es el conjunto de actividades interrelacionadas o que interactúan, que transforman las entradas en salidas (NTC-ISO 14001:2015).

        p En todas las etapas del ciclo de vida del producto, bien o servicio, se generan aspectos ambientales, y como consecuencia, impactos ambientales.                        
 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img17.svg").img-fluid

        .header-arrow.py-4.my-5
            h3.text-center Ejemplo
        .row.justify-content-center.mt-5

            .col-10

                table.table.table-bordered.table-striped
                    thead.thead-dark
                        tr.text-center
                            th.table1 ENTRADAS O INSUMOS
                            th.table1 ACTIVIDADES
                            th.table1 SALIDAS (PRODUCTOS / SERVICIO)

                    tbody
                        tr
                            td.table2 Frutas: fresa, mora, uchuva, tomate de árbol, plátano. Tubérculo: papa.
                            td.table2 Recepción de frutas.
                            td.table2 Residuos ordinarios, aprovechables. Energía eléctrica y mecánica.
                        tr
                            td.table3 Fresa, mora, uchuva, tomate de árbol, plátano. Tubérculo: papa.
                            td.table3 Selección, descarte y clasificación de frutas.
                            td.table3 Residuos orgánicos.
                        tr
                            td.table2 Agua potable
                            td.table2 Desinfección de fruta
                            td.table2 Vertimientos domésticos con hipoclorito de sodio.
                        tr
                            td.table3 Frutas en buenas condiciones, agua potable, energía eléctrica.
                            td.table3 Pelado y corte de fruta.
                            td.table3 Residuos ordinarios, aprovechables. Energía lumínica, vertimientos domésticos.
                        tr
                            td.table2 Fruta cortada y pelada, energía eléctrica.
                            td.table2 Despulpado de frutas.
                            td.table2 Residuos ordinarios, aprovechables. Energía mecánica.  
