include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001 2015
        meta(meta name="description" content="Ruta de aprendizaje programa Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001 2015.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001 2015
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001 2015
                                        li 
                                            span #[strong Código:] 11220137
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Se requiere que el aprendiz tenga dominio de elementos básicos en  el manejo de las TIC.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/974ruJYHG8c', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Es deber de todos, el cuidado y protección del medio ambiente, conocer los impactos ambientales generados de las actividades, productos y servicios de una organización, que interactúan con el mismo; reconociendo el compromiso hacia la mejora continua, encaminada  al desarrollo sostenible.

                p El programa de formación complementario virtual, en #[strong Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001:2015], está orientado al análisis de los siete requisitos de la norma y a la aplicación de herramientas de diagnóstico medio ambiental, en una organización definida siguiendo el modelo PHVA.

                p #[em Usted no tiene que ser grande al empezar, pero tiene que empezar a ser grande. (Joe Sabah)]


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Partiendo de la idea de que no podemos estar un solo día en nuestro planeta tierra sin ejecutar un impacto, ya sea positivo o negativo sobre el medio ambiente y las consecuencias que traen para éste la actividad empresarial, las cuales repercuten en su constante deterioro y que todas las organizaciones de productos y servicios deben cumplir con normatividad ambiental legal vigente y con estándares ambientales, tales como la implementación de un Sistema de Gestión Ambiental (SGA), en este caso basado en la NTC ISO 14001:2015; se hace necesario abordar de una manera práctica y sencilla, la apropiación de los requisitos de un SGA que una organización debe cumplir para mejorar su desempeño ambiental (ICONTEC, ISO 14001:2015).  

                p En el objetivo 12: Producción y Consumo Responsable, de los Objetivos de Desarrollo Sostenible (ODS), propuesto por el Programa de las Naciones Unidas Para el Desarrollo (PNUD), se afirma que, para lograr el crecimiento económico y desarrollo sostenible, es urgente reducir la huella ecológica mediante un cambio en los métodos de producción y consumo de bienes y recursos.  

                p Es urgente una gestión efectiva de los recursos naturales compartidos, por todos los actores comprometidos, para avanzar hacia prácticas sostenibles de consumo para el 2030, como es propuesto en este   Objetivo de Desarrollo Sostenible. 

                p Basado en lo anterior, El Servicio Nacional de Aprendizaje SENA, presenta este programa complementario virtual, teniendo como marco de referencia la NTC ISO 14001:2015, como una herramienta de aprendizaje y aplicabilidad en organizaciones que buscan mejorar su desempeño ambiental.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de formación complementaria  #[strong Apropiación de fundamentos del Sistema de Gestión Ambiental NTC ISO 14001:2015], está dirigido a aprendices, técnicos, profesionales, empresarios, emprendedores, trabajadores y partes interesadas de los diversos sectores económicos que tengan relación con la gestión ambiental en la cotidianidad de sus actividades laborales; y organizaciones independientemente de su tamaño, tipo y naturaleza, de igual manera está dirigido a estudiantes en disciplinas relacionadas con los Sistemas de Gestión  y a todas aquellas personas que de una u otra manera, se interesan por conocer las posibilidades que brinda la norma, para mejorar el desempeño ambiental y la protección del medio ambiente.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje autónomo,  el uso de estrategias didácticas activas que estimulan el pensamiento para el análisis  de estudios de caso; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales, que en todo caso recrean el contexto productivo y vinculan al aprendiz y a las organizaciones  con la realidad cotidiana y el desarrollo de las competencias.
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





